:root {
  --row-cols: 50;
  --dimension: var(--row-cols) rem;
  --main-bg-color: coral;
  --main-bo-color: black;
}

.Board {
  width: var(--dimension);
  height: var(--dimension);
  display: grid;
  grid-template-columns: repeat(var(--row-cols), 1fr);
  grid-template-rows: repeat(var(--row-cols), 1fr);
  border: 1px solid var(--main-bo-color);
}
